<!-- BEGIN CSS -->
/**Stylesheet for Index**/

* {
	max-width: 100%;
	background: url(../Images/fresh_snow_@2X.png);
}

html,
body {
	height:100%;
	background: url(../Images/fresh_snow_@2X.png);
}


/**Header Dimensions and Style*s*/

.container {
	background: #ffffff;
    text-align: center;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-bottom: thick dotted #ff0000;
	border-style: solid;
	border-color: #cccccc;
	float: left;
}

/**Body Dimensions and Styles**/

h2 {
	margin-left: 40px;
	background: #4aaaa5;
	color: #ffffff;
	width: 33%;
	height: 50px;
	line-height: 55px;
	float: left;
}

h5 {
	color: #777777;
	width: 50%;
	line-height: 55px;
	float: right;
}

.box_wrapper {
    margin-left: 350px;
    width: 960px;
    height: 900px;
}

/**Main Content Styles**/

.portfolio_box {
	margin-top: 50px;
	background: #ffffff;
	width: 650px;
	height: 650px;
	border-style: solid;
	border-color: #dddddd;
	float: left;
	position: relative;
}

#about {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 25px;
	padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
	font-weight: bold;
	text-align: left;
}

#photo
{
	height:200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
}

.text {
	padding: 35px;
}

h3 {
	color: #4aaaa5;
}

ul li:before {
  content: '*';
}

/**Connect Box Styles**/

.connect_box { 
	background-color: #ffffff;
	margin-left: 20px;
	margin-top: 50px;
	width: 270px;
	height: 150px;
	padding: 10;
	border-style: solid;
	border-color: #dddddd;
	float: left;
}

#connect {
	margin-top: 20px;
	text-align: center;
	color: #4aaaa5;
	font-weight: bold;
}


.favicons {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

/**Footer Styles**/

footer {
	background: #666666;
	height: 50px;
    text-align: center;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-top: solid #4aaaa5;
}

#copy {
	color: #ffffff;
	margin-left: 50%;
	padding: 15px;
}


<!-- END CSS -->